@import "tailwindcss";

*{/* Hide scrollbars across browsers */
scrollbar-width: none; /* Firefox */
-ms-overflow-style: none; /* Internet Explorer and old Edge */

::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
}